# build
build/
build_clanguml/
build_clanguml_j/
-
# IDE
.vscode

# Visual Studio & Compilers
bin/
libs/
.vs

# Local
report/

# Framework
/Framework3D
Framework3D/Ruzino
FrameworkRenderformer/runs/

# others
imgui.ini
.DS_Store
*.zip

# Agents
AGENTS.md
CLAUDE.md
.agents/

docs-agent/*

